.adminChart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0 15px -10px #000000;
  box-shadow: 0 0 15px -10px rgba($color: #000000, $alpha: 0.75);
}

.chartTitle {
  margin-top: 0;
  margin-bottom: 40px;
}