$bg-color: white;
$bg-color-alt: lightgrey;
$bg-color-alt2: rgb(227, 248, 255);
$bg-color-modal: black;
$text-light: #c2dcd8;
$text-light-alt: #2a8b7e;
$text-dark: #04211c;
$text-dark-alt: #006455;
$accent-color: #ffc15c;
$text-dark-grey: rgb(65, 65, 65);
$colored-text: rgb(66, 110, 255);